{% extends 'miniforum/base.html' %}

{% block 'title' %} {{ thread.title }} - MiniForum {% endblock %}

{% block 'content' %}
<h1 class="my-2">{{ thread.title }}</h1>
{% load serial_number %}
<div class="mx-1">
  {% for post in post_list %}
  <div class="my-3">
    <div class="mb-1">{% serial_number paginator.per_page page_obj.number forloop.counter %}.
      {% if post.user == None %}
      <small class="text-secondary">匿名</small>
      {% else %}
      {{ post.user.username }}
      {% endif %}
      {{ post.format_created_at }}
    </div>
    <div class="mx-1">{{ post.content|linebreaksbr }}</div>
  </div>
  {% endfor %}
</div>
{% include 'miniforum/pagination.html' %}
<div class="my-2">
  <a href="{% url 'miniforum:post_create' thread.pk %}">投稿</a>
</div>
{% endblock %}
